<div class="relative bg-white">
  <div
    class="flex justify-start items-center border-b-2 border-gray-100 py-5 md:space-x-10"
  >
    <div class="flex justify-start text-primary">
      <a routerLink="/" class="flex items-center space-x-2">
        <svg
          class="h-10 w-auto"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M8.51,12.48a1,1,0,1,0,1,1A1,1,0,0,0,8.51,12.48ZM8.51,8a1,1,0,1,0,1,1A1,1,0,0,0,8.51,8ZM12,10a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V11A1,1,0,0,0,12,10Zm8.5-1.43,0,0a3,3,0,0,0-2.3-.29,2.9,2.9,0,0,0-1.09.56L5.51,2.13a1,1,0,0,0-1,0A1,1,0,0,0,4,3V16.17A2.94,2.94,0,0,0,2,19H2a3,3,0,0,0,2.92,3h.58a18.57,18.57,0,0,0,16.11-9.41A3,3,0,0,0,20.51,8.57ZM6,4.73l9.89,5.71A12.57,12.57,0,0,1,6,16Zm13.87,6.88A16.58,16.58,0,0,1,5,20a1,1,0,0,1-1-1,1,1,0,0,1,.3-.72A1,1,0,0,1,5,18h.51a14.5,14.5,0,0,0,12.62-7.37.9.9,0,0,1,.58-.44,1,1,0,0,1,.75.09h0A1,1,0,0,1,19.88,11.61Z"
          />
        </svg>
        <span class="font-semibold text-lg">NekoFruit</span>
      </a>
    </div>

    <nav class="flex space-x-10">
      <a
        routerLink="/"
        class="text-base font-medium text-gray-500 hover:text-gray-900"
      >
        Home
      </a>
      <a
        routerLink="/catalog"
        class="text-base font-medium text-gray-500 hover:text-gray-900"
      >
        Catalog
      </a>
    </nav>

    <div class="flex items-center justify-end md:flex-1 lg:w-0">
      <a
        routerLink="/cart"
        class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900"
      >
        <svg
          class="h-7 w-auto"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M19,7H16V6A4,4,0,0,0,8,6V7H5A1,1,0,0,0,4,8V19a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V8A1,1,0,0,0,19,7ZM10,6a2,2,0,0,1,4,0V7H10Zm8,13a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V9H8v1a1,1,0,0,0,2,0V9h4v1a1,1,0,0,0,2,0V9h2Z"
          />
        </svg>
      </a>
      <a
        href="#"
        class="hidden ml-8 whitespace-nowrap items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-green-600 hover:bg-green-700"
      >
        Sign Out
      </a>
    </div>
  </div>
</div>
