<div class="flex items-end space-x-4">
  <span class="text-4xl font-medium">Cart</span>
</div>
<ng-container *ngIf="cartItems.length > 0; else elseBlock">
  <app-cart-item
    *ngFor="let item of cartItems"
    [item]="item"
    (addedItemQuantity)="addItemQuantity(item)"
    (removedItemQuantity)="removeItemQuantity(item)"
    (removedProduct)="removeProductFromCart(item)"
  ></app-cart-item>
</ng-container>
<ng-template #elseBlock>
  <div class="text-lg">No cart items found</div>
</ng-template>
