<ng-container *ngIf="this.loading == false; else elseBlock">
  <div class="flex flex-col space-y-8">
    <ng-container *ngIf="this.currentPage <= this.totalPages; else elseBlock">
      <div class="text-4xl font-medium">
        Catalog page {{ this.currentPage }}
      </div>

      <app-product-grid
        [productsPerPage]="productsPerPage"
        [currentPage]="currentPage"
        [products]="catalogProducts$ | async"
      ></app-product-grid>
      <app-catalog-paginate
        (navigateNextPage)="onNextPage()"
        (navigatePrevPage)="onPrevPage()"
        [productsPerPage]="productsPerPage"
        [currentPage]="currentPage"
        [totalProducts]="totalProducts"
        [lastRangeIndex]="lastRangeIndex"
        [prevPage]="prevPage"
        [nextPage]="nextPage"
      ></app-catalog-paginate>
    </ng-container>
    <ng-template #elseBlock> Page not found! </ng-template>
  </div>
</ng-container>

<ng-template #elseBlock>Loading...</ng-template>
