<ng-container *ngIf="this.loading == false; else elseBlock">
  <div class="flex flex-col space-y-8">
    <ng-container *ngIf="this.currentPage <= this.totalPages; else elseBlock">
      <div class="text-4xl font-medium">
        Catalog page {{ this.currentPage }}
      </div>

      <app-product-grid
        [productsPerPage]="productsPerPage"
        [currentPage]="currentPage"
        [products]="catalogProducts$ | async"
      ></app-product-grid>

      <div
        class="flex flex-col md:flex-row items-center space-y-2 md:space-y-0 md:justify-between"
      >
        <div>
          Showing
          <span class="font-medium">{{
            this.productsPerPage * (this.currentPage - 1) + 1
          }}</span>
          to
          <span class="font-medium">{{ this.lastRangeIndex }}</span>
          of <span class="font-medium">{{ this.totalProducts }}</span> results
        </div>
        <div class="flex items-center justify-center space-x-4">
          <button
            (click)="onPrevPage()"
            class="font-medium text-md bg-primary text-white py-3 px-4 rounded"
            *ngIf="prevPage"
          >
            Previous
          </button>
          <button
            (click)="onNextPage()"
            class="font-medium text-md bg-primary text-white py-3 px-4 rounded"
            *ngIf="nextPage"
          >
            Next
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-template #elseBlock>Loading...</ng-template>
