<ng-container *ngIf="product">
  <div
    class="shadow-md border border-gray-100 px-6 py-4 rounded-lg flex flex-col space-y-4"
  >
    <img class="mx-auto w-48 h-auto" [src]="product.image_url" alt="" />
    <div class="flex flex-col">
      <span class="text-lg font-medium">{{ product.name }}</span>
      <span class="text-gray-500">{{ product.description }}</span>
    </div>
    <div class="flex items-center justify-between">
      <div class="text-2xl font-medium">
        {{ product.price_EUR | currency: "EUR":"symbol":"1.2-2" }}
      </div>
      <button
        (click)="onAddCartItem(product)"
        class="text-white bg-primary rounded-full p-1"
      >
        <svg
          class="h-6 w-auto"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z"
          />
        </svg>
      </button>
    </div>
  </div>
</ng-container>
